a {
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(235, 182, 84);
}

#header-body {
  display: flex;
  gap: 15px;
}

nav {
  display: flex;
  gap: 15px;
}